@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@layer utilities {
	.animate-fade-in {
		animation: fadeIn 0.5s ease-in-out forwards;
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-50%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@layer utilities {
	.animate-slide-in-left {
		animation: slideInFromLeft 0.5s ease-out forwards;
	}
}
