@import url('./animation.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

button {
	transform: 0.4s;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	overflow-x: hidden;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	@apply px-1 lg:px-4;
}

@media (min-width: 1024px) {
	main {
		height: calc(100vh - 280px);
	}
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #a1a1a1;
}
